* {
	overflow: hidden;
}

#next_lesson {
	position: absolute;
	background-color: #0cbf77;
	border: none;
	border-bottom: 4px solid #0bae66;
	font-weight: bold;
	color: #ffffff;
	height: 5%;
	width: 15%;
	top: 1%;
	left: 83%;
}

#next_lesson:active {
	background-color: #0bae66;
}

#previous_lesson {
	position: absolute;
	background-color: #0cbf77;
	border: none;
	border-bottom: 4px solid #0bae66;
	font-weight: bold;
	color: #ffffff;
	height: 5%;
	width: 15%;
	top: 1%;
	left: 67%;
}

#previous_lesson:active {
	background-color: #0bae66;
}

.sandbox {
	position: absolute;
	left: 0%;
	top: 7%;
	height: 93%;
    width: 100%;
    border: none;
    border-top: 3px solid #065085;
}

.learn {
	position: absolute;
	left: 0%;
	top: 7%;
	height: 93%;
    width: 100%;
    border: none;
    border-top: 3px solid #065085;
}

.line {
	transform-origin: 0% 100%;
	height: 0.5px;
	background: #000000;
}

.draggable {
    cursor: move;
}

.trigger {
    cursor: pointer;
}

.viewer {
	position: absolute;
	left: 10%;
	top: 0%;
    height: 100%;
    width: 89.75%;
    border: none;
}

body {
	background-color: #076fb8;
}

div {
	background-color: #ffffff;
	position: absolute;
	left: 2.5%;
	top: 5%;
    height: 90%;
    width: 95%;
    border: 2px solid black;
}

select {
	position: absolute;
	height: 5%;
	width: 20%;
	top: 1%;
	left: 1.5%;

ul {
	height: 100%;
	width: 10%;
	margin-top: 0%;
	margin-left: -3.25%;
}

li {
	list-style-type: none;
	height: 11.111%;
	width: 100%;
}

li > button {
	height: 100%;
	width: 100%;
}