@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

::-webkit-scrollbar { 
    display: none; 
}

body {
	font-family: 'Open Sans', serif;
	background-color: #ffffff;
	color: black;
	padding: 0% 18%;
}

h1, h2, h3 {
	font-family: 'Ubuntu', sans-serif;
}

h2, h3 {
	margin-top: 10%;
}

h1 {
	text-align: center;
}

h3 {
	margin-top: 7%;
	margin-left: 5%;
}

ul {
	padding: inherit;
}

table {
	padding: inherit;
}

p {
	text-align: left;
}

.h3p {
	padding-left: 5%;
}