.not {
	border-top: 2px solid black;
}

.xor {
	border: 2px solid black;
	border-radius: 100%;
}

.incorrect {
	background-color: #ff5a73;
}

.correct {
	background-color: #73ff5a;
}

table {
	display: inline-block;
	border-collapse: collapse;
}

th {
	border: 2px solid black;
}

td {
	border: 1px solid black;
}

ul {
	list-style-type: none;
}

button {
	align-self: center;
}